

body {
	margin-top: 15%;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
body {
  background: #30303A;
  font-family: Roboto;
}
#chart {
  width: 650px;
  height: 300px;
  margin: 30px auto 0;
  display: block;
}


#chart #bars {
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  width: 800px;
  height: 300px;
  padding: 0;
  margin: 0,auto;
  box-shadow: 0 0 0 1px #444;
  font-size: 0;
  margin-left: 50px;
  margin-right: auto;
  flex: 0 0 auto;
}
#chart #bars li {
  display: table-cell;
  width: 160px;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}
#chart #bars li .bar {
  display: block;
  width: 140px;
  margin-left: 10px;
  background: #FD4447;
  position: absolute;
  bottom: 0;
}



body {
	margin-top: 15%;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
body {
  background: #30303A;
  font-family: Roboto;
}
#chart {
  width: 650px;
  height: 300px;
  margin: 30px auto 0;
  display: block;
}

#chart #bars {
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  width: 700px;
  height: 300px;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 1px #444;
  font-size: 0;
}
#chart #bars li {
  display: table-cell;
  width: 150px;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}
#chart #bars li .bar {
  display: block;
  width: 140px;
  margin-left: 15px;
  background: #FD4447;
  position: absolute;
  bottom: 0;
}

#chart #bars li span {
  color: #eee;
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
}
#chart #bars li:nth-child(1) .bar {
    background:rgb(29, 81, 123); 
  }
  
  #chart #bars li:nth-child(2) .bar {
    background:mediumorchid; 
  }
  
  
  #chart #bars li:nth-child(3) .bar {
    background:rgb(237, 95, 118);
  }
  
  #chart #bars li:nth-child(4) .bar {
    background:rgb(233, 125, 86);
  }
  
  #chart #bars li:nth-child(5) .bar {
    background:rgb(243, 243, 81);
  }
  #buttons {
    margin-top: 40px;
    text-align: center;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    
    cursor: pointer;
    margin-right: 120px;
    margin-left: 50px;
  }
  
  button:hover {
    background-color: #45a049;
  }

  #startBtn {
    background-color: #144515; 
    color: white;
    padding: 10px 30px;
    border: none;
    
    cursor: pointer;
    margin-right: 10px;
  }

  #resetBtn {
    background-color:rgb(232, 100, 232); 
    color: white;
    padding: 10px 30px;
    border: none;
    
    cursor: pointer;
    margin-right: 10px;
  }

  #stopBtn {
    background-color:rgb(245, 69, 69); 
    color: white;
    padding: 10px 30px;
    border: none;
    
    cursor: pointer;
    margin-right: 10px;
  }
  #chart {
    width: 100%;
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
  }